#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-color: darkslateblue;
}

h1 {
  color: whitesmoke;
}

.card {
  padding: 1em;
  margin-bottom: 2em;
  background-color: whitesmoke;
  border-radius: 1em;
}